<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <knet>
                <active>0</active>
                <model>Meetanshi\Knet\Model\Payment</model>
                <lang>ENG</lang>
                <mode>0</mode>
                <title>Knet</title>
                <allow_invoice>1</allow_invoice>
            </knet>
        </payment>
    </default>
</config>
