<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 x-mage2(Yosto). All rights reserved.
 * See README.md for details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Backend/etc/menu.xsd">
    <menu>
        <add id="Yosto_AttributeRelation::view_relations" title="Relations"
        module="Yosto_AttributeRelation" sortOrder="3" parent="Yosto_CustomerAttribute::main_menu"
        action="yosto_attribute_relation/relation/index" resource="Yosto_CustomerAttribute::view_relations" />

        <add id="Yosto_AttributeRelation::new_relation" title="Add Relation"
             module="Yosto_AttributeRelation" sortOrder="4" parent="Yosto_CustomerAttribute::main_menu"
             action="yosto_attribute_relation/relation/selecttype" resource="Yosto_CustomerAttribute::new_relation" />

    </menu>
</config>