<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <payment>
            <zfloos>
                <active>1</active>
                <title>Zfloos</title>
                <token></token>
                <payment_action>authorize</payment_action>
                <model>Zfloos\Zfloos\Model\Zfloos</model>
            </zfloos>
            <!-- payment-config -->
        </payment>
    </default>
</config>
