<?xml version="1.0"?>
<!--
/**
 * Webkul Software.
 * 
 * PHP version 7.0+
 *
 * @category  Webkul
 * @package   Webkul_MobikulCore
 * @author    Webkul <support@webkul.com>
 * @copyright 2010-2019 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html ASL Licence
 * @link      https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="webkul" translate="label" sortOrder="10">
            <label>Webkul</label>
        </tab>
        <section id="mobikul" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>Mobikul</label>
            <tab>webkul</tab>
            <resource>Webkul_MobikulCore::config_mobikul</resource>
            <group id="configuration" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Mobikul Basic Configuration</label>
                <field id="apiusername" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Username</label>
                </field>
                <field id="apikey" translate="label" type="obscure" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Password</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="pagesize" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Collection Page Size</label>
                    <validate>validate-zero-or-greater</validate>
                </field>
                <field id="featuredproduct" translate="label" sortOrder="4" type="select" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable random featured product in home page?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cms" translate="label" sortOrder="5" type="multiselect" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Allowed CMS Pages</label>
                    <source_model>Webkul\MobikulCore\Model\Cmspages</source_model>
                </field>
            </group>
            <group id="notification" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>FCM Push Notification Parameters</label>
                <field id="apikey" translate="label" sortOrder="1" type="text" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>API key</label>
                </field>
                <field id="andoridtopic" translate="label" sortOrder="2" type="text" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Android Topic</label>
                    <comment>eg. local</comment>
                </field>
                <field id="iostopic" translate="label" sortOrder="3" type="text" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>iOS Topic</label>
                    <comment>eg. local</comment>
                </field>
            </group>
            <group id="searchsuggestion" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Mobikul Catalog Search Configuration</label>
                <field id="displaytag" translate="label" sortOrder="1" type="select" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Display Tags in Search</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="tagcount" translate="label" sortOrder="2" type="text" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Number of Tags to display in Search</label>
                    <depends>
                        <field id="displaytag">1</field>
                    </depends>
                </field>
                <field id="displayproduct" translate="label" sortOrder="3" type="select" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Display Products in Search</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="productcount" translate="label" sortOrder="4" type="text" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Number of Products to display in Search</label>
                    <depends>
                        <field id="displayproduct">1</field>
                    </depends>
                </field>
            </group>
            <group id="appdownload" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Application Download from Website</label>
                <field id="allowAndroid" translate="label" sortOrder="1" type="select" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable android application download</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="androidlink" translate="label" sortOrder="2" type="text" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Your application's, play store application link</label>
                    <depends>
                        <field id="allowAndroid">1</field>
                    </depends>
                    <validate>required-entry validate-url</validate>
                </field>
                <field id="allowiOS" translate="label" sortOrder="3" type="select" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable ios application download</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="ioslink" translate="label" sortOrder="4" type="text" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Your application's, app store application link</label>
                    <depends>
                        <field id="allowiOS">1</field>
                    </depends>
                    <validate>required-entry validate-url</validate>
                </field>
                <field id="enabletoplink" translate="label" sortOrder="5" type="select" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Top link</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enablebottomlink" translate="label" sortOrder="6" type="select" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Bottom link</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="downloadlinktheme" translate="label" sortOrder="7" type="select" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Choose Download link theme</label>
                    <source_model>Webkul\MobikulCore\Model\System\Downloadlinktheme</source_model>
                </field>
            </group>
            <group id="cachesettings" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Mobikul Api Cache Settings</label>
                <field id="enable" translate="label" sortOrder="1" type="select" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Cache</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="counter" translate="label" sortOrder="4" type="text" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Refresh cache rate</label>
                    <validate>required-entry validate-zero-or-greater</validate>
                    <tooltip>Cache  will be refreshed automatically, after provided number of times when api called.</tooltip>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="clear" translate="label" sortOrder="4" type="button" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Clear Cache</label>
                    <frontend_model>Webkul\MobikulCore\Block\Adminhtml\Clearcache</frontend_model>
                </field>
            </group>
            <group id="themeConfig" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Theme Configuration</label>
                <field id="themeType" translate="label" sortOrder="5" type="select" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Theme Type</label>
                    <source_model>Webkul\MobikulCore\Model\ThemeType</source_model>
                </field>
            </group>
        </section>
    </system>
</config>